Exercise 3

1. Write a program flow which will assign `grade` by the test scores using the following conditions:

    1. If score >= 90, grade="A"
    2. If 80 >= score >90, grade="B"
    3. If 70 >= score >80, grade="C"
    4. If 60 >= score >70, grade="D"
    5. IF score < 60, grade="F"

In [3]:
# code up your solution here

score = 70

if score>=90:
    grade='A'
elif score>=80:
    grade='B'
elif score>=70:
    grade='C'
elif score>=60:
    grade="D"
else :
    grade='F'

print(grade)

C

2. x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

    a. If x less than y, messge="x is less than y"
    
    b. If x larger than y, messge="x is greater than y"
    
    c. If x equal to y, messge="x is the same as y"

In [4]:
x=1
y=1
if x<y:
    messge="x is less than y"
elif x>y:
    messge="x is greater than y"
else:
    messge="x is the same as y"
print(messge)

x is the same as y

Exercise 4

4. The Fibonacci Sequence is the series of numbers:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

The next number is found by adding up the two numbers before it.
Find the last element of the `fibolist`

In [10]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

# code your solution here

fibolist[-1]

317811

In [12]:
#5. Calculate the sum of `fibolist`
sum(fibolist)

832039

In [14]:
#6 Calculate and append the next fibonacci number to fibolist.
fibolist[-1]+fibolist[-2]
fibolist.append(fibolist[-1]+fibolist[-2])
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

In [21]:
#7.Create a reversed copy of fibolist without permanently reversing fibolist liteslf.
reversed=fibolist[::-1]
reversed

[514229,
 317811,
 196418,
 121393,
 75025,
 46368,
 28657,
 17711,
 10946,
 6765,
 4181,
 2584,
 1597,
 987,
 610,
 377,
 233,
 144,
 89,
 55,
 34,
 21,
 13,
 8,
 5,
 3,
 2,
 1,
 1,
 0]

In [20]:
#8Check if 29473 is a fibonacci number, and assign the anser to variable fibo_29473
29473 in fibolist

False

In [25]:
#9Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets
a=set('123')
b=set('234')
print(a - b) # diference                          
print(a | b) #  union                         
print(a & b) #  intersection                           
print(a ^ b) # symmetric difference

{'1'}
{'4', '2', '1', '3'}
{'3', '2'}
{'4', '1'}

In [59]:
#10 Creat a dictionary using at least two different methods.
dict1 = dict(F='female', M='male')
dict2= {'F': 'female', 'M': 'male'}
print(dict1)
print(dict2)

{'F': 'female', 'M': 'male'}
{'F': 'female', 'M': 'male'}

In [53]:
#11 Check if 2 and 9999 are fibonacci numbers. Create a dictionary fibo_dict with the numbers as keys, and value=True if the number is fibonacci number, and False otherwise.

2 in fibolist
#9999 in fibolist

dict3 = {2:'True',9999:'False'}
dict3

{2: 'True', 9999: 'False'}